[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "testrail_api_module"
version = "0.1.0"
description = "A simple wrapper for the TestRail API"
authors = [
    { name = "Matt Troutman", email = "github@trtmn.com" },
    { name = "Christian Thompson"}
]
dependencies = [
    "requests",
]

[tool.setuptools.packages.find]
where = ["src"]